<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- configuration 的加载顺序 -->
    <!--    properties -> settings -> typeAliases -> typeHandlers -> objectFactory -> objectWrapperFactory ->
            reflectorFactory -> plugins -> environments -> databaseIdProvider -> mappers
    -->


    <!-- 设置参数 -->
    <settings>
        <!-- 开启驼峰匹配：完成经典的数据库命名到java属性的映射
             相当于去掉数据中的名字的下划线，和java进行匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!-- 开启全局的二级缓存配置   全局性的开启或关闭所有映射器配置文件中已配置的任何缓存，默认：true -->
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- 配置别名 -->
    <typeAliases>
        <!-- typeAlias:用来配置别名，方便映射文件使用，type:类的全限定类名,alias:别名 -->
        <typeAlias type="org.apache.ibatis.debug.User" alias="User"/>
    </typeAliases>

    <!-- 配置环境：可以配置多个环境，default：配置某一个环境的唯一标识，表示默认使用哪个环境 -->
    <environments default="development">
        <!-- 配置环境,id:环境的唯一标识 -->
        <environment id="development">
            <!-- 事务管理器，type:使用jdbc的事务管理器 -->
            <transactionManager type="JDBC"/>

            <!-- 数据源，type:池类型的数据源 -->
            <!-- UNPOOLED：每次请求都打开和关闭链接
                 POOLED：链接池
                 JNDI：为了能在如 EJB 或应⽤服务器这类容器中使用，容器可以集中或在外部配置数据源，然后放置⼀个 JNDI 上下文的引用
            -->
            <dataSource type="POOLED">
                <!-- 配置连接信息 -->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/test?serverTimezone=GMT%2B8"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 配置映射文件：用来配置sql语句和结果集类型等 -->
    <mappers>
        <mapper resource="UserMapper.xml"/>
    </mappers>

</configuration>